/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.mapWrap {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  font-family: "Microsoft JhengHei";
}

.mapWrap .mapSide {
  width: 420px;
}

.mapWrap .mapSide .sideNav {
  background-color: #73c0d8;
  color: white;
  padding: 10px;
}

.mapWrap .mapSide .sideNav .sideTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mapWrap .mapSide .sideNav .sideTime .navLeft {
  font-size: 30px;
}

.mapWrap .mapSide .sideNav .sideTime .navRigrt {
  text-align: right;
  font-size: 12px;
}

.mapWrap .mapSide .sideNav .sideTime .navRigrt p {
  margin-top: 6px;
}

.mapWrap .mapSide .sideNav .sideTime .navRigrt .sideId {
  color: yellow;
  font-weight: bold;
  font-size: 15px;
}

.mapWrap .mapSide .select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.mapWrap .mapSide .select .selectCity {
  width: 180px;
  padding: 5px 10px;
  border-radius: 16px;
  border: none;
  font-size: 15px;
}

.mapWrap .mapSide .select .selectLocation {
  width: 180px;
  padding: 5px 10px;
  border-radius: 16px;
  border: none;
  font-size: 15px;
}

.mapWrap .mapSide .search {
  margin-top: 10px;
  width: 360px;
  padding: 5px 10px;
  border-radius: 16px;
  border: none;
  font-size: 15px;
}

.mapWrap .mapSide .sideCard {
  overflow-y: auto;
  height: 592px;
  background-color: white;
  font-size: 15px;
  color: #666666;
}

.mapWrap .mapSide .sideCard .cardTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mapWrap .mapSide .sideCard .cardTop a {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: #73c0d8;
}

.mapWrap .mapSide .sideCard .cardTop a:hover {
  color: #ffa573;
}

.mapWrap .mapSide .sideCard h1 {
  color: #333333;
  font-size: 21px;
  font-weight: bold;
  margin: 5px 0;
}

.mapWrap .mapSide .sideCard li {
  padding: 10px 20px;
  border-bottom: 1px solid #d9d9d9;
}

.mapWrap .mapSide .sideCard li p {
  margin-top: 5px;
}

.mapWrap .mapSide .sideCard li .maskNum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
  font-weight: 700;
}

.mapWrap .mapSide .sideCard li .maskNum .maskNone {
  width: 140px;
  text-align: center;
  background-color: #717172;
  color: white;
  padding: 5px 10px;
  border-radius: 16px;
}

.mapWrap .mapSide .sideCard li .maskNum .maskAdult {
  width: 140px;
  text-align: center;
  background-color: #73c0d8;
  color: white;
  padding: 5px 10px;
  border-radius: 16px;
}

.mapWrap .mapSide .sideCard li .maskNum .maskChild {
  width: 140px;
  text-align: center;
  background-color: #ffa573;
  color: white;
  padding: 5px 10px;
  border-radius: 16px;
}

.mapWrap #map {
  width: 75%;
}

.mapWrap .leaflet-popup-content {
  font-family: "Microsoft JhengHei";
  width: 260px;
}

.mapWrap .leaflet-popup-content p {
  margin: 5px 0 0 0;
}

.mapWrap .leaflet-popup-content .maskNum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
  font-weight: 700;
}

.mapWrap .leaflet-popup-content .maskNum .maskNone {
  width: 100px;
  text-align: center;
  background-color: #717172;
  color: white;
  padding: 5px 10px;
  border-radius: 16px;
}

.mapWrap .leaflet-popup-content .maskNum .maskAdult {
  width: 100px;
  text-align: center;
  background-color: #73c0d8;
  color: white;
  padding: 5px 10px;
  border-radius: 16px;
}

.mapWrap .leaflet-popup-content .maskNum .maskChild {
  width: 100px;
  text-align: center;
  background-color: #ffa573;
  color: white;
  padding: 5px 10px;
  border-radius: 16px;
}

.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
}

.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}

.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
}

.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
  line-height: 30px;
}
/*# sourceMappingURL=all.css.map */